[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"
v = {editable = true,version = "*"}

[packages]
django = "==3.1"
djangorestframework = "==3.11.1"
django-cors-headers = "*"
pygments = "*"
django-bootstrap4 = "*"
pandas = "*"
click = "*"
numpy = "*"
importlib-metadata = "*"
bs4 = "*"
requests = "*"
lxml = "*"
httpie = "*"
djangorestframework-link-header-pagination = "*"
django-rest-knox = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-filter = "*"
django-rest-swagger = "*"
coreapi = "*"
pyyaml = "*"
uritemplate = "*"
djangorestframework-simplejwt = "*"
drf-firebase-auth = "*"
drf-yasg = {extras = ["validation"],version = "*"}
sqlite3 = "*"

[scripts]
start = "python manage.py runserver"
manage = "python manage.py"
