[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"
v = {editable = true,version = "*"}

[packages]
django = "==2.2"
djangorestframework = "*"
django-cors-headers = "==2.4.0"
pygments = "*"
django-bootstrap4 = "*"
pandas = "*"
click = "*"
numpy = "*"
importlib-metadata = "*"
bs4 = "*"
requests = "*"
lxml = "*"
httpie = "*"
django-rest-framework-link-header-pagination = "*"
djangorestframework-link-header-pagination = "*"

[scripts]
start = "python manage.py runserver"
manage = "python manage.py"
