@charset "UTF-8";


/* base */
/* body {
    font-size: 18px;
    width: 100vw;
    margin: 0;
}
.input-txt {
    border: solid 1px darkgrey;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.5rem;
}
.btn {
    border: none;
    color: blue;
    font-size: 1rem;
}
.btn:hover {
    cursor: pointer;
    background-color: aliceblue;
}
.btn__delete {
    color: orangered;
}
.btn__delete:hover {
    background-color: lavenderblush;
} */
.backdrop .modal-content{
  background-color: #000;
  color: #fff;
}



/* todo */
.todo {
    margin: 0 20vw;
}


/* form */
.form {
    margin-bottom: 3rem;
}
.form__items {
    display: flex;
}
.form__input-txt {
    flex-direction: row;
    flex-grow: 1;
}


/* list */
.list__ul {
    padding: 0;
}
.list__ul__li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: solid 1px lightgrey;
    padding-bottom: 3px;
    margin: 1em 0;
}
.list__txt {
    flex-grow: 1;
}
.list__txt:hover {
    cursor: pointer;
}
.list__txt--done {
    color: gray;
    text-decoration: line-through solid gray;
}
.list__checkbox {
    margin-right: 1em;
}